<div *ngIf="perfumes" [ngStyle]="{ 'background-color': index % 2 === 0 ? 'grey' : 'lightyellow' }" class="perfume-detail">


  <img [src]="perfumes.imgSrc" height="200" width="300" alt="perfume">


  <h2>{{ perfumes.id }}. <strong>Name:</strong> {{ perfumes.name | uppercase }}</h2>


  <p><strong>Brand:</strong> {{ perfumes.brand | uppercase }}</p>
  <p><strong>Price:</strong> {{ perfumes.price | currency: 'CAD' }}</p>
  <p><strong>Description:</strong> {{ perfumes.description | slice:0:100 }}...</p>


  <p><strong>Status:</strong> {{ perfumes.available | availability }}</p>


  <p *ngIf="perfumes.stock">
    <strong>Stock:</strong> {{ perfumes.stock | percent }} of the required inventory
  </p>
</div>
